streamlit
streamlit-chat
boto3
langchain_aws
langchain
langchain-openai
openai>=2.41.0
langchain_community
langchain-text-splitters
opensearch-py
requests-aws4auth
langgraph
langchain_experimental
mcp
langchain-mcp-adapters
requests
uv
graphviz
rich